.speech {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color:black;
}

.direction {
    font-family: Arial, Helvetica, sans-serif, serif;
    font-size: x-small;
    color:black;
}

.direction:hover {
    background-color: chocolate;
    color:white;
}

.ASTROFF {
    color: aquamarine;
}

.MARINA{
    color: blueviolet;
}

.VOITSKI{
    color:bisque;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    color:Maroon;

}
th{
    text-align: center;
    padding: 5px;
}
td{
    text-align: left ;
    padding: 6px;
}
td{
    text-align: left;
    padding: 4px;
}
tr:nth-child(odd){
    background-color:bisque;
}
.MARINA:hover{
    text-shadow: 1px 1px 5px red;
  }
  .bottom-navbar {
    background-color:maroon;
    overflow: hidden;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.bottom-navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px; 
}

.bottom-navbar a:hover {
    background-color: #ddd;
    color: rgb(250, 248, 249);
}

.bottom-navbar a i {
    margin-right: 5px;
}